### Creating a dataframe

In [17]:
import pandas as pd
df = pd.read_csv("housing.csv")
df.head(5)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

### convert to 2D array

In [18]:
df.values

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

### Add/drop necessary columns

In [23]:
LSTATxMEDV = df.LSTAT * df.MEDV
df["LSTAT x MEDV"] = LSTATxMEDV
df.drop(['MEDV'], axis=1).head()

      RM  LSTAT  PTRATIO  LSTAT x MEDV
0  6.575   4.98     15.3     2509920.0
1  6.421   9.14     17.8     4145904.0
2  7.185   4.03     17.8     2936661.0
3  6.998   2.94     18.7     2062116.0
4  7.147   5.33     18.7     4051866.0

### Rename columns

In [25]:
df.rename(columns= {'LSTAT x MEDV':'LEMV'}).head()

      RM  LSTAT  PTRATIO      MEDV       LEMV
0  6.575   4.98     15.3  504000.0  2509920.0
1  6.421   9.14     17.8  453600.0  4145904.0
2  7.185   4.03     17.8  728700.0  2936661.0
3  6.998   2.94     18.7  701400.0  2062116.0
4  7.147   5.33     18.7  760200.0  4051866.0

### Slice dataframe

In [26]:
df.loc[5:245,['RM','PTRATIO']]

        RM  PTRATIO
5    6.430     18.7
6    6.012     15.2
7    6.172     15.2
8    5.631     15.2
9    6.004     15.2
10   6.377     15.2
11   6.009     15.2
12   5.889     15.2
13   5.949     21.0
14   6.096     21.0
15   5.834     21.0
16   5.935     21.0
17   5.990     21.0
18   5.456     21.0
19   5.727     21.0
20   5.570     21.0
21   5.965     21.0
22   6.142     21.0
23   5.813     21.0
24   5.924     21.0
25   5.599     21.0
26   5.813     21.0
27   6.047     21.0
28   6.495     21.0
29   6.674     21.0
30   5.713     21.0
31   6.072     21.0
32   5.950     21.0
33   5.701     21.0
34   6.096     21.0
..     ...      ...
216  6.618     17.4
217  8.266     17.4
218  8.040     17.4
219  7.163     17.4
220  7.686     17.4
221  6.552     17.4
222  5.981     17.4
223  7.412     17.4
224  8.337     17.4
225  8.247     17.4
226  6.726     17.4
227  6.086     17.4
228  6.631     17.4
229  7.358     17.4
230  6.481     16.6
231  6.606     16.6
232  6.897     16.6
233  6.095     16.6
234  6.358     16.6
235  6.393     16.6
236  5.593     19.1
237  5.605     19.1
238  6.108     19.1
239  6.226     19.1
240  6.433     19.1
241  6.718     19.1
242  6.487     19.1
243  6.438     19.1
244  6.957     19.1
245  8.259     19.1

[241 rows x 2 columns]